doctype html
html
	head
		meta(charset="utf-8")
		title Tourism
		meta(name="description",content="This is tourism design")
		meta(name="keywords",content="tourism design psd zeplin layout")
		link(rel="stylesheet",href="./css/styles.css",type="text/css")
		link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&amp;subset=cyrillic")
		link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=cyrillic")
	body
		header.header
			div.wrapper
				div.row.noindent
					div.col-12-12
						div.header--sitename Touris
							span.bold m
							|.
					div.col-6-12
						h1.header--title
							span.header--title-small Explore the
							| Deep forest
						div.header--subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					div.col-6-12
		main.main
			section.gallery
				div.wrapper
					div.row
						div.col-9-12
							div.gallery--text
								h2.l-left.gallery--title Gallery
								div.l-left.gallery--description
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dignissim, felis quis molestie sollicitudin, orci quam tincidunt diam, id rutrum dui urna sit amet quam. 
							div.row.noindent.gallery--imageset
								div.l-left
									img(src="./img/gallery/gal_img01.jpg",alt="Gallery image 1").gallery--imageset--item
									img(src="./img/gallery/gal_img03.jpg",alt="Gallery image 3").gallery--imageset--item
								div.l-left
										img(src="./img/gallery/gal_img02.jpg",alt="Gallery image 2").gallery--imageset--item
										div.l-left
											img(src="./img/gallery/gal_img04.jpg",alt="Gallery image 4").gallery--imageset--item
											img(src="./img/gallery/gal_img05.jpg",alt="Gallery image 5").gallery--imageset--item
										div.l-left
											img(src="./img/gallery/gal_img06.jpg",alt="Gallery image 6").gallery--imageset--item
						div.col-3-12
							img(src="./img/gallery/gal_column.jpg",alt="").gallery--column
			section.main--beauty_block.beauty_block
				div.wrapper
					div.row
						div.col-2-12
						div.col-8-12
							div.beauty_block--title Lorem Ipsum
							div.beauty_block--text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								|Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
						div.col-2-12
			section.main--statistics
				div.wrapper
					div.row
						div.col-12-12
							h2.center.main--statistics-header Statistics
							h2 Did You Know?
							p.main--statistics-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet suscipit leo. 
								|Sed lectus odio, accumsan vitae suscipit in, posuere et orci. Nunc a feugiat arcu. 
								|Proin fringilla lectus non finibus malesuada. In in nulla augue. Integer id lacus ultrices, pharetra tellus a, pulvinar lorem. 
								|Pellentesque quis pretium nulla, sit amet efficitur justo. Morbi luctus vehicula diam, vitae facilisis libero ultrices eu.
							div.indicators
								div.indicators--element.indicator
									p.indicator--digit 2000
									p.indicator--text Lorem Ipsum
								div.indicators--element.indicator
									p.indicator--digit 23
									p.indicator--text Lorem Ipsum
								div.indicators--element.indicator
									p.indicator--digit 19382
									p.indicator--text Lorem Ipsum
								div.indicators--element.indicator
									p.indicator--digit 120
									p.indicator--text Lorem Ipsum
		footer.footer
			div.wrapper
				div.row
					div.col-2-12
					div.col-8-12
						div.footer--beauty_block.beauty_block
							div.beauty_block--title Lorem Ipsum
							div.beauty_block--text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
										|Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					div.col-2-12
					div.col-12-12
						div.footer--video
					div.col-12-12
						div.footer--sitename Touris
							span.bold m
							|.